<!DOCTYPE html>
<!-- página template(modelo) com layout base das páginas do site -->

<html lang="pt">
  <head>
    <meta charset="utf-8">
    <title>Perfil do Usuário</title>

     <!--os meus scripts podem ser colocados no .html ou de forma externa
        em arquivo com extensão .js na pasta/js e informar a sua referência no header -->
    <script src ="{{ url_for('static', filename = 'js/script.js')}}"></script> 

    <link rel = "stylesheet" href="{{ url_for('static', filename = 'css/estilo.css')}}">
  </head>
 
  <body>
    <div>
    <!--Informação fixa nas páginas coloca neste template -->
    <img src="https://ifro.edu.br/img/logo-ifro-hotsite.png" alt="logo IFRO" width = 70 height = 70>
    <br>
    </div>
    
    <nav> 
        <a href="/index">Página Inicial</a>
        <a href="/contato">Contatos</a>
        <a href="/usuarios">Perfil do Usuário</a>
    </nav>

    <!--Informação que muda nas páginas coloca como extensão -->
    {% block conteudo %}    

    {% endblock %}

    <h6>Copyright₢ 2023</h6> <!--Ctrl+Alt+C-->
  </body>
</html>
