{% extends 'base.html' %}


{% block conteudo %}
    <!--os meus scripts podem ser colocados no .html ou de forma externa
        em arquivo com extensão .js na pasta/js e informar a sua referência no header -->
 
    <!-- chama o javascript para validarsenha -->
    <form action="/autenticar"  method="POST" onsubmit="return validarSenha()" >
        <!-- ao clickar no botão OK, no submit vai para a rota /autenticar -->
        <br/>
        <!-- se for usar button também pode chamar o js no evento onclick()
        <button onclick ="return validarSenha()" >OK</button>  -->

        <!--qual a diferença em colocar label, type="password" e requires?? -->
        <label for="username">Usuário:</label>
        <input type="text" id="nome_usuario" name="nome_usuario" required><br><br>
        <label for="password">Senha:</label>
        <input type="password" id="senha" name="senha" required><br><br>
        <input type="submit" value="Login">
    </form>

{% endblock %}
